{% extends "base.html" %}

{% block content %}
    <div class="row">
		<h2>New User? <a href="/register/">Register</a></h2>
		<form action="/login/" method="post">{% csrf_token %}
    		<div class="form-group">
    			<label for="email">Email address</label>
    			<input type="email" class="form-control" name="email" />
    		</div>
    		<div class="form-group">
    			<label for="password">Password</label>
    			<input type="password" class="form-control" name="password" />
    		</div>
    		<button type="submit" class="btn btn-default">Login</button>
    	</form>
    </div>
{% endblock content %}