<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>StuffUShare</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap-theme.min.css">
    <!-- NietoYosten CSS -->
    <link rel="stylesheet" href="static/styles2.css">
</head>
<body>
    <!-- Page body container -->
    <div class="container container-sm-height">
        <!-- Logo and login bar -->
        <form class="form-inline row-sm-height" role="form">
            <div class="col-md-1 logo-div col-sm-height">
            	<img src="images/logo.gif" />
            </div>
            <div class="col-md-12 form-group col-sm-height">
            	<div class="topbar-inner-div">
					<label class="sr-only" for="searchbox">Search box</label>
					<input type="text" class="form-control" id="searchbox" placeholder="Search">
				</div>
			</div>
			<div class="col-md-1 col-sm-height">
    			<button type="button" class="btn btn-default">
        			<span class="glyphicon glyphicon-search"></span>
    			</button>
            </div>
            <div class="col-md-1 topbar-div col-sm-height">
            	<div class="topbar-inner-div">
            		Upload
            	</div>
        	</div>
        	<div class="col-md-1 topbar-div col-sm-height">
        		<div class="topbar-inner-div">
        			Login
        		</div>
        	</div>
        </form>
    </div>

    <div class="container body-content">
        <h1>Welcome...</h1>
        <p>"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
        <hr />
        <footer>
            <p>&copy; 2014 - StuffUShare</p>
        </footer>
    </div>

    <!-- jQuery -->
    <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.0.3.min.js"></script>
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script>
    <script src="http://ajax.aspnetcdn.com/ajax/mvc/4.0/jquery.validate.unobtrusive.min.js"></script>
    <!-- Bootstrap JavaScript -->
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>

</body>
</html>
