<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>StuffUShare</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap-theme.min.css">
    <!-- NietoYosten CSS -->
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <!-- Page body container -->
    <div class="container container-sm-height">
        <!-- Logo and login bar -->
        <form class="form-inline row-sm-height" role="form">
            <div class="col-md-1 logo-div col-sm-height">
            	<img src="/static/logo.gif" />
            </div>
            <div class="col-md-12 form-group col-sm-height">
            	<div class="topbar-inner-div">
					<label class="sr-only" for="searchbox">Search box</label>
					<input type="text" class="form-control" id="searchbox" placeholder="Search">
				</div>
			</div>
			<div class="col-md-1 col-sm-height">
    			<button type="button" class="btn btn-default">
        			<span class="glyphicon glyphicon-search"></span>
    			</button>
            </div>
            <div class="col-md-1 topbar-div col-sm-height">
            	<div class="topbar-inner-div">
            		<a href="#">Upload</a>
            	</div>
        	</div>
        	<div class="col-md-1 topbar-div col-sm-height">
        		<div class="topbar-inner-div">
        			<a href="/login">Login</a>
        		</div>
        	</div>
        </form>
    </div>

    <div class="container body-content">
        {% block content %}
        {% endblock content %}
        <hr />
        <footer>
            <p>&copy; 2014 - StuffUShare</p>
        </footer>
    </div>

    <!-- jQuery -->
    <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.0.3.min.js"></script>
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script>
    <script src="http://ajax.aspnetcdn.com/ajax/mvc/4.0/jquery.validate.unobtrusive.min.js"></script>
    <!-- Bootstrap JavaScript -->
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>

</body>
</html>